* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
}


/* mobile --------------- */

@media screen and (max-width: 1149px) {
    header {
        color: hsl(300, 43%, 22%);
        text-align: center;
        padding: 0 10px;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 2rem;
    }
    header p {
        padding: 25px 0;
        font-size: 1.15rem;
    }
    aside {
        margin-bottom: 25px;
    }
    figure {
        text-align: center;
        background-color: hsl(300, 24%, 96%);
        max-width: 350px;
        border-radius: 5px;
        padding: 10px;
    }
    figure img {
        padding-right: 5px;
    }
    figcaption {
        color: hsl(300, 43%, 22%);
        font-weight: 700;
    }
    h3 {
        color: hsl(0, 0%, 100%);
        align-self: center;
    }
    article {
        background-color: hsl(300, 43%, 22%);
        border-radius: 5px;
        padding: 30px;
    }
    section {
        display: flex;
    }
    section>img {
        border-radius: 50%;
        width: 15%;
        margin-right: 25px;
    }
    article p {
        padding-top: 25px;
        font-size: 1.15rem;
        color: hsl(0, 0%, 100%);
    }
    span {
        color: hsl(333, 80%, 67%);
        font-weight: 400;
    }
    .wrapper {
        max-width: 350px;
        height: auto;
        margin: 50px auto;
    }
    .flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}


/* desktop --------------- */

@media screen and (min-width: 1150px) {
    header {
        color: hsl(300, 43%, 22%);
        padding: 0 10px;
        max-width: 450px;
    }
    h1 {
        font-size: 3.5rem;
        line-height: 3rem;
    }
    header p {
        padding: 25px 0;
        font-size: 1.15rem;
    }
    aside {
        margin-bottom: 25px;
        position: relative;
    }
    figure {
        background-color: hsl(300, 24%, 96%);
        width: 500px;
        border-radius: 5px;
        padding: 15px;
        display: flex;
    }
    figure:first-of-type {
        position: absolute;
        top: 0;
        right: 150px;
    }
    figure:nth-of-type(2) {
        position: absolute;
        top: 70px;
        right: 100px;
    }
    figure:last-of-type {
        position: absolute;
        top: 140px;
        right: 50px;
    }
    figure img {
        padding-right: 5px;
    }
    figcaption {
        color: hsl(300, 43%, 22%);
        font-weight: 700;
        align-items: center;
        padding-top: 5px;
        padding-left: 20px;
    }
    h3 {
        color: hsl(0, 0%, 100%);
        align-self: center;
    }
    article {
        background-color: hsl(300, 43%, 22%);
        border-radius: 5px;
        padding: 30px;
        max-width: 350px;
    }
    article:first-of-type {
        position: absolute;
        top: 25px;
        left: 0;
    }
    article:nth-of-type(2) {
        position: absolute;
        top: 50px;
        left: 400px;
    }
    article:last-of-type {
        position: absolute;
        top: 75px;
        left: 790px;
    }
    section {
        display: flex;
    }
    section>img {
        border-radius: 50%;
        width: 15%;
        margin-right: 25px;
    }
    article p {
        padding-top: 25px;
        font-size: 1.15rem;
        color: hsl(0, 0%, 100%);
    }
    span {
        color: hsl(333, 80%, 67%);
        font-weight: 400;
    }
    .wrapper {
        max-width: 1200px;
        height: auto;
        margin: 150px auto;
    }
    .flex_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .relative {
        position: relative;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 200px;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}